.header {
  grid-area: header;
  background-color: #004E98;
  color:#3D0000;
  text-align:center;
}

#section {
  grid-area: section;
  background-color: #FF6700;
  color:#3D0000;
}
.nav {
  grid-area: nav;
  background-color: #4B4237;
  color:#e6e5e5;

}

.footer {
  grid-area: footer;
  background-color: #C0C0C0;
  color:#3D0000;
}

.aside{
  grid-area: aside;
  background-color: #D5A021;
  color:#3D0000;  
  
}

/*Since this uses Javascript I've made it into an ID instead of a class*/
#grid_article  gggr noid-areaarticle;
  background-color: #EF2D56;
  color:#3D0000;  }/*Removes all of the text styling from the hyperlinks.*/
a
  text-decoration: none
  color: #4B4237


h1{
  text-decoration: underline overline;
}
p{
  text-decoration: underline;
}
/*Creates and provides the rows and spacing for the grid*/
.grid{
  display: grid;
  grid-gap: 10px;
  grid-template-areas: 
  'header header header'
  'nav nav nav'
  'section section aside'
  'article article aside'  
  'footer footer footer';
}

.button{
  display: inline-block;
  text-decoration: none;
  list-style-type:none;

  background: #EDE7D9;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;   
}
